In [13]:
import yfinance as yf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


from datetime import datetime
import time
import logging

In [33]:
sp500 = pd.read_html("SP500.html")[0]
sp500.head()

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989

In [35]:
sp500.tail()

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
498,XYL,Xylem Inc.,Industrials,Industrial Machinery & Supplies & Components,"White Plains, New York",2011-11-01,1524472,2011
499,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
501,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [37]:
sp500.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Symbol                 503 non-null    object
 1   Security               503 non-null    object
 2   GICS Sector            503 non-null    object
 3   GICS Sub-Industry      503 non-null    object
 4   Headquarters Location  503 non-null    object
 5   Date added             503 non-null    object
 6   CIK                    503 non-null    int64
 7   Founded                503 non-null    object
dtypes: int64(1), object(7)
memory usage: 31.6+ KB

In [64]:
sp500["Symbol"]

0       MMM
1       AOS
2       ABT
3      ABBV
4       ACN
       ...
498     XYL
499     YUM
500    ZBRA
501     ZBH
502     ZTS
Name: Symbol, Length: 503, dtype: object

In [72]:
tickers = sp500["Symbol"].str.replace(".", "-", regex=False)

tickers.to_csv("SP500.csv", index=False)

In [82]:
tickers = pd.read_csv("SP500.csv")
tickers.head()

  Symbol
0    MMM
1    AOS
2    ABT
3   ABBV
4    ACN

In [104]:
tickers = pd.read_csv("SP500.csv")["Symbol"].tolist()
logging.info(f"Loaded {len(tickers)} tickers ")

2025-12-15 22:54:49,833 - INFO - Loaded 503 tickers

In [106]:
START_DATE = "2015-01-01"
END_DATE = datetime.today().strftime("%Y-%m-%d")
MIN_HISTORY_DAYS = 252 * 2

In [143]:
def download_price_data(
    tickers,
    start_date,
    end_date,
    pause=1.0
):
    all_prices = []

    for ticker in tickers:
        try:
            logging.info(f"Downloading {ticker}")

            data = yf.download(
                ticker,
                start=start_date,
                end=end_date,
                progress=False,
                auto_adjust=False
            )

            if data.empty:
                logging.warning(f"No data for {ticker}")
                continue

            data = data[["Adj Close"]].copy()
            data.columns = ["adj_close"]
            data["ticker"] = ticker
            data.reset_index(inplace=True)

            all_prices.append(data)
            time.sleep(pause)

        except Exception as e:
            logging.error(f"Failed for {ticker}: {e}")

    return pd.concat(all_prices, ignore_index=True)

In [149]:
price_df = download_price_data(
    tickers = tickers,
    start_date = START_DATE,
    end_date = END_DATE
)

logging.info(f"Downloaded {price_df['ticker'].nunique()} stocks")

2025-12-17 11:09:50,141 - INFO - Downloading MMM
2025-12-17 11:09:51,764 - INFO - Downloading AOS
2025-12-17 11:09:53,439 - INFO - Downloading ABT
2025-12-17 11:09:55,069 - INFO - Downloading ABBV
2025-12-17 11:09:56,643 - INFO - Downloading ACN
2025-12-17 11:09:58,258 - INFO - Downloading ADBE
2025-12-17 11:09:59,835 - INFO - Downloading AMD
2025-12-17 11:10:01,341 - INFO - Downloading AES
2025-12-17 11:10:02,910 - INFO - Downloading AFL
2025-12-17 11:10:04,614 - INFO - Downloading A
2025-12-17 11:10:06,207 - INFO - Downloading APD
2025-12-17 11:10:07,805 - INFO - Downloading ABNB
2025-12-17 11:10:09,221 - INFO - Downloading AKAM
2025-12-17 11:10:10,799 - INFO - Downloading ALB
2025-12-17 11:10:12,430 - INFO - Downloading ARE
2025-12-17 11:10:14,018 - INFO - Downloading ALGN
2025-12-17 11:10:15,678 - INFO - Downloading ALLE
2025-12-17 11:10:17,203 - INFO - Downloading LNT
2025-12-17 11:10:18,880 - INFO - Downloading ALL
2025-12-17 11:10:21,505 - INFO - Downloading GOOGL
2025-12-17 11:10:23,081 - INFO - Downloading GOOG
2025-12-17 11:10:24,632 - INFO - Downloading MO
2025-12-17 11:10:26,294 - INFO - Downloading AMZN
2025-12-17 11:10:27,855 - INFO - Downloading AMCR
2025-12-17 11:10:29,471 - INFO - Downloading AEE
2025-12-17 11:10:31,027 - INFO - Downloading AEP
2025-12-17 11:10:32,699 - INFO - Downloading AXP
2025-12-17 11:10:34,261 - INFO - Downloading AIG
2025-12-17 11:10:35,938 - INFO - Downloading AMT
2025-12-17 11:10:37,458 - INFO - Downloading AWK
2025-12-17 11:10:39,017 - INFO - Downloading AMP
2025-12-17 11:10:40,585 - INFO - Downloading AME
2025-12-17 11:10:42,241 - INFO - Downloading AMGN
2025-12-17 11:10:43,799 - INFO - Downloading APH
2025-12-17 11:10:45,379 - INFO - Downloading ADI
2025-12-17 11:10:46,911 - INFO - Downloading AON
2025-12-17 11:10:48,455 - INFO - Downloading APA
2025-12-17 11:10:50,038 - INFO - Downloading APO
2025-12-17 11:10:51,612 - INFO - Downloading AAPL
2025-12-17 11:10:53,170 - INFO - Downloading AMAT
2025-12-17 11:10:54,720 - INFO - Downloading APP
2025-12-17 11:10:56,187 - INFO - Downloading APTV
2025-12-17 11:10:57,721 - INFO - Downloading ACGL
2025-12-17 11:10:59,220 - INFO - Downloading ADM
2025-12-17 11:11:00,894 - INFO - Downloading ARES
2025-12-17 11:11:02,396 - INFO - Downloading ANET
2025-12-17 11:11:03,910 - INFO - Downloading AJG
2025-12-17 11:11:05,477 - INFO - Downloading AIZ
2025-12-17 11:11:07,065 - INFO - Downloading T
2025-12-17 11:11:08,672 - INFO - Downloading ATO
2025-12-17 11:11:10,293 - INFO - Downloading ADSK
2025-12-17 11:11:11,813 - INFO - Downloading ADP
2025-12-17 11:11:13,473 - INFO - Downloading AZO
2025-12-17 11:11:14,952 - INFO - Downloading AVB
2025-12-17 11:11:16,530 - INFO - Downloading AVY
2025-12-17 11:11:18,177 - INFO - Downloading AXON
2025-12-17 11:11:19,663 - INFO - Downloading BKR
2025-12-17 11:11:21,293 - INFO - Downloading BALL
2025-12-17 11:11:22,905 - INFO - Downloading BAC
2025-12-17 11:11:24,463 - INFO - Downloading BAX
2025-12-17 11:11:26,042 - INFO - Downloading BDX
2025-12-17 11:11:27,619 - INFO - Downloading BRK-B
2025-12-17 11:11:29,124 - INFO - Downloading BBY
2025-12-17 11:11:30,673 - INFO - Downloading TECH
2025-12-17 11:11:32,246 - INFO - Downloading BIIB
2025-12-17 11:11:33,793 - INFO - Downloading BLK
2025-12-17 11:11:35,350 - INFO - Downloading BX
2025-12-17 11:11:36,929 - INFO - Downloading XYZ
2025-12-17 11:11:38,442 - INFO - Downloading BK
2025-12-17 11:11:40,021 - INFO - Downloading BA
2025-12-17 11:11:41,701 - INFO - Downloading BKNG
2025-12-17 11:11:43,204 - INFO - Downloading BSX
2025-12-17 11:11:44,656 - INFO - Downloading BMY
2025-12-17 11:11:46,333 - INFO - Downloading AVGO
2025-12-17 11:11:47,904 - INFO - Downloading BR
2025-12-17 11:11:49,428 - INFO - Downloading BRO
2025-12-17 11:11:50,985 - INFO - Downloading BF-B
2025-12-17 11:11:52,539 - INFO - Downloading BLDR
2025-12-17 11:11:54,083 - INFO - Downloading BG
2025-12-17 11:11:55,623 - INFO - Downloading BXP
2025-12-17 11:11:57,489 - INFO - Downloading CHRW
2025-12-17 11:11:59,056 - INFO - Downloading CDNS
2025-12-17 11:12:00,623 - INFO - Downloading CPT
2025-12-17 11:12:02,237 - INFO - Downloading CPB
2025-12-17 11:12:03,883 - INFO - Downloading COF
2025-12-17 11:12:05,536 - INFO - Downloading CAH
2025-12-17 11:12:07,091 - INFO - Downloading CCL
2025-12-17 11:12:09,075 - INFO - Downloading CARR
2025-12-17 11:12:10,836 - INFO - Downloading CAT
2025-12-17 11:12:12,459 - INFO - Downloading CBOE
2025-12-17 11:12:14,022 - INFO - Downloading CBRE
2025-12-17 11:12:15,601 - INFO - Downloading CDW
2025-12-17 11:12:17,522 - INFO - Downloading COR
2025-12-17 11:12:19,469 - INFO - Downloading CNC
2025-12-17 11:12:20,959 - INFO - Downloading CNP
2025-12-17 11:12:22,538 - INFO - Downloading CF
2025-12-17 11:12:24,065 - INFO - Downloading CRL
2025-12-17 11:12:25,642 - INFO - Downloading SCHW
2025-12-17 11:12:27,292 - INFO - Downloading CHTR
2025-12-17 11:12:28,806 - INFO - Downloading CVX
2025-12-17 11:12:30,536 - INFO - Downloading CMG
2025-12-17 11:12:32,123 - INFO - Downloading CB
2025-12-17 11:12:33,728 - INFO - Downloading CHD
2025-12-17 11:12:35,353 - INFO - Downloading CI
2025-12-17 11:12:37,010 - INFO - Downloading CINF
2025-12-17 11:12:38,599 - INFO - Downloading CTAS
2025-12-17 11:12:40,167 - INFO - Downloading CSCO
2025-12-17 11:12:41,777 - INFO - Downloading C
2025-12-17 11:12:43,377 - INFO - Downloading CFG
2025-12-17 11:12:44,998 - INFO - Downloading CLX
2025-12-17 11:12:46,610 - INFO - Downloading CME
2025-12-17 11:12:48,172 - INFO - Downloading CMS
2025-12-17 11:12:49,802 - INFO - Downloading KO
2025-12-17 11:12:51,415 - INFO - Downloading CTSH
2025-12-17 11:12:52,940 - INFO - Downloading COIN
2025-12-17 11:12:54,405 - INFO - Downloading CL
2025-12-17 11:12:56,032 - INFO - Downloading CMCSA
2025-12-17 11:12:57,646 - INFO - Downloading CAG
2025-12-17 11:12:59,278 - INFO - Downloading COP
2025-12-17 11:13:00,848 - INFO - Downloading ED
2025-12-17 11:13:02,683 - INFO - Downloading STZ
2025-12-17 11:13:04,602 - INFO - Downloading CEG
2025-12-17 11:13:06,040 - INFO - Downloading COO
2025-12-17 11:13:07,614 - INFO - Downloading CPRT
2025-12-17 11:13:09,129 - INFO - Downloading GLW
2025-12-17 11:13:10,738 - INFO - Downloading CPAY
2025-12-17 11:13:12,327 - INFO - Downloading CTVA
2025-12-17 11:13:13,815 - INFO - Downloading CSGP
2025-12-17 11:13:15,388 - INFO - Downloading COST
2025-12-17 11:13:16,926 - INFO - Downloading CTRA
2025-12-17 11:13:18,573 - INFO - Downloading CRWD
2025-12-17 11:13:20,044 - INFO - Downloading CCI
2025-12-17 11:13:21,709 - INFO - Downloading CSX
2025-12-17 11:13:23,389 - INFO - Downloading CMI
2025-12-17 11:13:25,125 - INFO - Downloading CVS
2025-12-17 11:13:26,681 - INFO - Downloading DHR
2025-12-17 11:13:28,372 - INFO - Downloading DRI
2025-12-17 11:13:29,996 - INFO - Downloading DDOG
2025-12-17 11:13:31,430 - INFO - Downloading DVA
2025-12-17 11:13:33,021 - INFO - Downloading DAY
2025-12-17 11:13:34,494 - INFO - Downloading DECK
2025-12-17 11:13:35,968 - INFO - Downloading DE
2025-12-17 11:13:37,617 - INFO - Downloading DELL
2025-12-17 11:13:39,146 - INFO - Downloading DAL
2025-12-17 11:13:40,935 - INFO - Downloading DVN
2025-12-17 11:13:42,506 - INFO - Downloading DXCM
2025-12-17 11:13:44,058 - INFO - Downloading FANG
2025-12-17 11:13:45,690 - INFO - Downloading DLR
2025-12-17 11:13:47,327 - INFO - Downloading DG
2025-12-17 11:13:48,903 - INFO - Downloading DLTR
2025-12-17 11:13:50,455 - INFO - Downloading D
2025-12-17 11:13:52,071 - INFO - Downloading DPZ
2025-12-17 11:13:53,646 - INFO - Downloading DASH
2025-12-17 11:13:55,075 - INFO - Downloading DOV
2025-12-17 11:13:56,697 - INFO - Downloading DOW
2025-12-17 11:13:58,172 - INFO - Downloading DHI
2025-12-17 11:13:59,709 - INFO - Downloading DTE
2025-12-17 11:14:01,465 - INFO - Downloading DUK
2025-12-17 11:14:03,063 - INFO - Downloading DD
2025-12-17 11:14:04,895 - INFO - Downloading ETN
2025-12-17 11:14:06,499 - INFO - Downloading EBAY
2025-12-17 11:14:08,112 - INFO - Downloading ECL
2025-12-17 11:14:09,695 - INFO - Downloading EIX
2025-12-17 11:14:11,383 - INFO - Downloading EW
2025-12-17 11:14:13,155 - INFO - Downloading EA
2025-12-17 11:14:14,771 - INFO - Downloading ELV
2025-12-17 11:14:16,290 - INFO - Downloading EME
2025-12-17 11:14:17,798 - INFO - Downloading EMR
2025-12-17 11:14:19,457 - INFO - Downloading ETR
2025-12-17 11:14:21,044 - INFO - Downloading EOG
2025-12-17 11:14:22,679 - INFO - Downloading EPAM
2025-12-17 11:14:24,247 - INFO - Downloading EQT
2025-12-17 11:14:25,841 - INFO - Downloading EFX
2025-12-17 11:14:27,538 - INFO - Downloading EQIX
2025-12-17 11:14:29,094 - INFO - Downloading EQR
2025-12-17 11:14:30,742 - INFO - Downloading ERIE
2025-12-17 11:14:32,305 - INFO - Downloading ESS
2025-12-17 11:14:33,930 - INFO - Downloading EL
2025-12-17 11:14:35,529 - INFO - Downloading EG
2025-12-17 11:14:37,192 - INFO - Downloading EVRG
2025-12-17 11:14:39,256 - INFO - Downloading ES
2025-12-17 11:14:40,843 - INFO - Downloading EXC
2025-12-17 11:14:42,462 - INFO - Downloading EXE
2025-12-17 11:14:43,905 - INFO - Downloading EXPE
2025-12-17 11:14:45,503 - INFO - Downloading EXPD
2025-12-17 11:14:47,142 - INFO - Downloading EXR
2025-12-17 11:14:48,677 - INFO - Downloading XOM
2025-12-17 11:14:50,446 - INFO - Downloading FFIV
2025-12-17 11:14:52,084 - INFO - Downloading FDS
2025-12-17 11:14:53,802 - INFO - Downloading FICO
2025-12-17 11:14:55,409 - INFO - Downloading FAST
2025-12-17 11:14:57,025 - INFO - Downloading FRT
2025-12-17 11:14:58,645 - INFO - Downloading FDX
2025-12-17 11:15:00,279 - INFO - Downloading FIS
2025-12-17 11:15:01,848 - INFO - Downloading FITB
2025-12-17 11:15:03,490 - INFO - Downloading FSLR
2025-12-17 11:15:05,016 - INFO - Downloading FE
2025-12-17 11:15:06,655 - INFO - Downloading FISV
2025-12-17 11:15:08,201 - INFO - Downloading F
2025-12-17 11:15:09,816 - INFO - Downloading FTNT
2025-12-17 11:15:11,402 - INFO - Downloading FTV
2025-12-17 11:15:13,103 - INFO - Downloading FOXA
2025-12-17 11:15:14,675 - INFO - Downloading FOX
2025-12-17 11:15:16,185 - INFO - Downloading BEN
2025-12-17 11:15:17,768 - INFO - Downloading FCX
2025-12-17 11:15:19,378 - INFO - Downloading GRMN
2025-12-17 11:15:20,986 - INFO - Downloading IT
2025-12-17 11:15:22,542 - INFO - Downloading GE
2025-12-17 11:15:24,269 - INFO - Downloading GEHC
2025-12-17 11:15:25,705 - INFO - Downloading GEV
2025-12-17 11:15:27,157 - INFO - Downloading GEN
2025-12-17 11:15:28,713 - INFO - Downloading GNRC
2025-12-17 11:15:30,256 - INFO - Downloading GD
2025-12-17 11:15:31,908 - INFO - Downloading GIS
2025-12-17 11:15:33,537 - INFO - Downloading GM
2025-12-17 11:15:35,122 - INFO - Downloading GPC
2025-12-17 11:15:36,715 - INFO - Downloading GILD
2025-12-17 11:15:38,246 - INFO - Downloading GPN
2025-12-17 11:15:39,912 - INFO - Downloading GL
2025-12-17 11:15:41,502 - INFO - Downloading GDDY
2025-12-17 11:15:43,070 - INFO - Downloading GS
2025-12-17 11:15:44,697 - INFO - Downloading HAL
2025-12-17 11:15:46,376 - INFO - Downloading HIG
2025-12-17 11:15:47,993 - INFO - Downloading HAS
2025-12-17 11:15:49,594 - INFO - Downloading HCA
2025-12-17 11:15:51,223 - INFO - Downloading DOC
2025-12-17 11:15:52,798 - INFO - Downloading HSIC
2025-12-17 11:15:54,386 - INFO - Downloading HSY
2025-12-17 11:15:56,054 - INFO - Downloading HPE
2025-12-17 11:15:57,648 - INFO - Downloading HLT
2025-12-17 11:15:59,273 - INFO - Downloading HOLX
2025-12-17 11:16:00,765 - INFO - Downloading HD
2025-12-17 11:16:02,412 - INFO - Downloading HON
2025-12-17 11:16:04,123 - INFO - Downloading HRL
2025-12-17 11:16:05,780 - INFO - Downloading HST
2025-12-17 11:16:07,405 - INFO - Downloading HWM
2025-12-17 11:16:08,960 - INFO - Downloading HPQ
2025-12-17 11:16:10,597 - INFO - Downloading HUBB
2025-12-17 11:16:12,195 - INFO - Downloading HUM
2025-12-17 11:16:13,770 - INFO - Downloading HBAN
2025-12-17 11:16:15,370 - INFO - Downloading HII
2025-12-17 11:16:16,982 - INFO - Downloading IBM
2025-12-17 11:16:18,589 - INFO - Downloading IEX
2025-12-17 11:16:20,135 - INFO - Downloading IDXX
2025-12-17 11:16:21,622 - INFO - Downloading ITW
2025-12-17 11:16:23,255 - INFO - Downloading INCY
2025-12-17 11:16:24,772 - INFO - Downloading IR
2025-12-17 11:16:26,280 - INFO - Downloading PODD
2025-12-17 11:16:27,788 - INFO - Downloading INTC
2025-12-17 11:16:29,413 - INFO - Downloading IBKR
2025-12-17 11:16:30,955 - INFO - Downloading ICE
2025-12-17 11:16:32,613 - INFO - Downloading IFF
2025-12-17 11:16:34,183 - INFO - Downloading IP
2025-12-17 11:16:35,939 - INFO - Downloading INTU
2025-12-17 11:16:37,506 - INFO - Downloading ISRG
2025-12-17 11:16:39,101 - INFO - Downloading IVZ
2025-12-17 11:16:40,663 - INFO - Downloading INVH
2025-12-17 11:16:42,202 - INFO - Downloading IQV
2025-12-17 11:16:43,755 - INFO - Downloading IRM
2025-12-17 11:16:45,306 - INFO - Downloading JBHT
2025-12-17 11:16:46,907 - INFO - Downloading JBL
2025-12-17 11:16:48,483 - INFO - Downloading JKHY
2025-12-17 11:16:50,061 - INFO - Downloading J
2025-12-17 11:16:51,641 - INFO - Downloading JNJ
2025-12-17 11:16:53,262 - INFO - Downloading JCI
2025-12-17 11:16:54,867 - INFO - Downloading JPM
2025-12-17 11:16:56,484 - INFO - Downloading KVUE
2025-12-17 11:16:57,958 - INFO - Downloading KDP
2025-12-17 11:16:59,542 - INFO - Downloading KEY
2025-12-17 11:17:01,130 - INFO - Downloading KEYS
2025-12-17 11:17:02,653 - INFO - Downloading KMB
2025-12-17 11:17:04,246 - INFO - Downloading KIM
2025-12-17 11:17:05,857 - INFO - Downloading KMI
2025-12-17 11:17:07,472 - INFO - Downloading KKR
2025-12-17 11:17:09,056 - INFO - Downloading KLAC
2025-12-17 11:17:10,619 - INFO - Downloading KHC
2025-12-17 11:17:12,188 - INFO - Downloading KR
2025-12-17 11:17:13,780 - INFO - Downloading LHX
2025-12-17 11:17:15,369 - INFO - Downloading LH
2025-12-17 11:17:16,971 - INFO - Downloading LRCX
2025-12-17 11:17:18,522 - INFO - Downloading LW
2025-12-17 11:17:20,107 - INFO - Downloading LVS
2025-12-17 11:17:21,624 - INFO - Downloading LDOS
2025-12-17 11:17:23,166 - INFO - Downloading LEN
2025-12-17 11:17:24,859 - INFO - Downloading LII
2025-12-17 11:17:26,546 - INFO - Downloading LLY
2025-12-17 11:17:28,331 - INFO - Downloading LIN
2025-12-17 11:17:29,932 - INFO - Downloading LYV
2025-12-17 11:17:31,414 - INFO - Downloading LKQ
2025-12-17 11:17:32,931 - INFO - Downloading LMT
2025-12-17 11:17:34,596 - INFO - Downloading L
2025-12-17 11:17:36,218 - INFO - Downloading LOW
2025-12-17 11:17:37,889 - INFO - Downloading LULU
2025-12-17 11:17:39,460 - INFO - Downloading LYB
2025-12-17 11:17:41,031 - INFO - Downloading MTB
2025-12-17 11:17:42,614 - INFO - Downloading MPC
2025-12-17 11:17:44,173 - INFO - Downloading MAR
2025-12-17 11:17:45,808 - INFO - Downloading MMC
2025-12-17 11:17:47,389 - INFO - Downloading MLM
2025-12-17 11:17:48,936 - INFO - Downloading MAS
2025-12-17 11:17:50,513 - INFO - Downloading MA
2025-12-17 11:17:52,150 - INFO - Downloading MTCH
2025-12-17 11:17:53,696 - INFO - Downloading MKC
2025-12-17 11:17:55,357 - INFO - Downloading MCD
2025-12-17 11:17:57,098 - INFO - Downloading MCK
2025-12-17 11:17:58,710 - INFO - Downloading MDT
2025-12-17 11:18:00,347 - INFO - Downloading MRK
2025-12-17 11:18:01,969 - INFO - Downloading META
2025-12-17 11:18:03,485 - INFO - Downloading MET
2025-12-17 11:18:05,110 - INFO - Downloading MTD
2025-12-17 11:18:06,645 - INFO - Downloading MGM
2025-12-17 11:18:08,201 - INFO - Downloading MCHP
2025-12-17 11:18:09,806 - INFO - Downloading MU
2025-12-17 11:18:11,364 - INFO - Downloading MSFT
2025-12-17 11:18:12,968 - INFO - Downloading MAA
2025-12-17 11:18:14,553 - INFO - Downloading MRNA
2025-12-17 11:18:16,101 - INFO - Downloading MHK
2025-12-17 11:18:17,619 - INFO - Downloading MOH
2025-12-17 11:18:19,133 - INFO - Downloading TAP
2025-12-17 11:18:20,685 - INFO - Downloading MDLZ
2025-12-17 11:18:22,272 - INFO - Downloading MPWR
2025-12-17 11:18:23,889 - INFO - Downloading MNST
2025-12-17 11:18:25,450 - INFO - Downloading MCO
2025-12-17 11:18:26,990 - INFO - Downloading MS
2025-12-17 11:18:28,489 - INFO - Downloading MOS
2025-12-17 11:18:30,029 - INFO - Downloading MSI
2025-12-17 11:18:31,679 - INFO - Downloading MSCI
2025-12-17 11:18:33,286 - INFO - Downloading NDAQ
2025-12-17 11:18:34,814 - INFO - Downloading NTAP
2025-12-17 11:18:36,438 - INFO - Downloading NFLX
2025-12-17 11:18:38,046 - INFO - Downloading NEM
2025-12-17 11:18:39,667 - INFO - Downloading NWSA
2025-12-17 11:18:41,222 - INFO - Downloading NWS
2025-12-17 11:18:42,728 - INFO - Downloading NEE
2025-12-17 11:18:44,352 - INFO - Downloading NKE
2025-12-17 11:18:46,040 - INFO - Downloading NI
2025-12-17 11:18:47,674 - INFO - Downloading NDSN
2025-12-17 11:18:49,341 - INFO - Downloading NSC
2025-12-17 11:18:51,091 - INFO - Downloading NTRS
2025-12-17 11:18:52,705 - INFO - Downloading NOC
2025-12-17 11:18:54,360 - INFO - Downloading NCLH
2025-12-17 11:18:55,950 - INFO - Downloading NRG
2025-12-17 11:18:57,508 - INFO - Downloading NUE
2025-12-17 11:18:59,053 - INFO - Downloading NVDA
2025-12-17 11:19:00,721 - INFO - Downloading NVR
2025-12-17 11:19:02,268 - INFO - Downloading NXPI
2025-12-17 11:19:03,846 - INFO - Downloading ORLY
2025-12-17 11:19:05,368 - INFO - Downloading OXY
2025-12-17 11:19:06,947 - INFO - Downloading ODFL
2025-12-17 11:19:08,508 - INFO - Downloading OMC
2025-12-17 11:19:10,212 - INFO - Downloading ON
2025-12-17 11:19:11,723 - INFO - Downloading OKE
2025-12-17 11:19:13,369 - INFO - Downloading ORCL
2025-12-17 11:19:14,912 - INFO - Downloading OTIS
2025-12-17 11:19:16,418 - INFO - Downloading PCAR
2025-12-17 11:19:18,037 - INFO - Downloading PKG
2025-12-17 11:19:19,619 - INFO - Downloading PLTR
2025-12-17 11:19:21,030 - INFO - Downloading PANW
2025-12-17 11:19:22,612 - INFO - Downloading PSKY
2025-12-17 11:19:24,127 - INFO - Downloading PH
2025-12-17 11:19:25,927 - INFO - Downloading PAYX
2025-12-17 11:19:27,489 - INFO - Downloading PAYC
2025-12-17 11:19:29,071 - INFO - Downloading PYPL
2025-12-17 11:19:30,638 - INFO - Downloading PNR
2025-12-17 11:19:32,221 - INFO - Downloading PEP
2025-12-17 11:19:33,808 - INFO - Downloading PFE
2025-12-17 11:19:35,429 - INFO - Downloading PCG
2025-12-17 11:19:37,022 - INFO - Downloading PM
2025-12-17 11:19:38,529 - INFO - Downloading PSX
2025-12-17 11:19:40,083 - INFO - Downloading PNW
2025-12-17 11:19:41,669 - INFO - Downloading PNC
2025-12-17 11:19:43,261 - INFO - Downloading POOL
2025-12-17 11:19:44,812 - INFO - Downloading PPG
2025-12-17 11:19:46,448 - INFO - Downloading PPL
2025-12-17 11:19:48,068 - INFO - Downloading PFG
2025-12-17 11:19:49,647 - INFO - Downloading PG
2025-12-17 11:19:51,257 - INFO - Downloading PGR
2025-12-17 11:19:52,838 - INFO - Downloading PLD
2025-12-17 11:19:54,467 - INFO - Downloading PRU
2025-12-17 11:19:56,184 - INFO - Downloading PEG
2025-12-17 11:19:57,768 - INFO - Downloading PTC
2025-12-17 11:19:59,293 - INFO - Downloading PSA
2025-12-17 11:20:00,877 - INFO - Downloading PHM
2025-12-17 11:20:02,449 - INFO - Downloading PWR
2025-12-17 11:20:03,974 - INFO - Downloading QCOM
2025-12-17 11:20:05,740 - INFO - Downloading DGX
2025-12-17 11:20:07,306 - INFO - Downloading Q
2025-12-17 11:20:08,662 - INFO - Downloading RL
2025-12-17 11:20:10,305 - INFO - Downloading RJF
2025-12-17 11:20:11,936 - INFO - Downloading RTX
2025-12-17 11:20:13,648 - INFO - Downloading O
2025-12-17 11:20:15,309 - INFO - Downloading REG
2025-12-17 11:20:16,953 - INFO - Downloading REGN
2025-12-17 11:20:18,483 - INFO - Downloading RF
2025-12-17 11:20:20,072 - INFO - Downloading RSG
2025-12-17 11:20:21,697 - INFO - Downloading RMD
2025-12-17 11:20:23,227 - INFO - Downloading RVTY
2025-12-17 11:20:24,899 - INFO - Downloading HOOD
2025-12-17 11:20:26,460 - INFO - Downloading ROK
2025-12-17 11:20:28,191 - INFO - Downloading ROL
2025-12-17 11:20:29,804 - INFO - Downloading ROP
2025-12-17 11:20:31,531 - INFO - Downloading ROST
2025-12-17 11:20:33,239 - INFO - Downloading RCL
2025-12-17 11:20:34,959 - INFO - Downloading SPGI
2025-12-17 11:20:36,678 - INFO - Downloading CRM
2025-12-17 11:20:38,219 - INFO - Downloading SNDK

In [190]:
price_df.head()

        Date  adj_close ticker
0 2015-01-02  96.108559    MMM
1 2015-01-05  93.941040    MMM
2 2015-01-06  92.939323    MMM
3 2015-01-07  93.612999    MMM
4 2015-01-08  95.856659    MMM

In [192]:
price_df.tail()

              Date   adj_close ticker
1333570 2025-12-08  118.160004    ZTS
1333571 2025-12-09  115.750000    ZTS
1333572 2025-12-10  118.070000    ZTS
1333573 2025-12-11  117.660004    ZTS
1333574 2025-12-12  118.660004    ZTS

In [194]:
price_df

              Date   adj_close ticker
0       2015-01-02   96.108559    MMM
1       2015-01-05   93.941040    MMM
2       2015-01-06   92.939323    MMM
3       2015-01-07   93.612999    MMM
4       2015-01-08   95.856659    MMM
...            ...         ...    ...
1333570 2025-12-08  118.160004    ZTS
1333571 2025-12-09  115.750000    ZTS
1333572 2025-12-10  118.070000    ZTS
1333573 2025-12-11  117.660004    ZTS
1333574 2025-12-12  118.660004    ZTS

[1333575 rows x 3 columns]

In [196]:
price_df = price_df.sort_values(["ticker", "Date"]).reset_index(drop=True)
price_df["Date"] = pd.to_datetime(price_df["Date"])

In [198]:
price_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1333575 entries, 0 to 1333574
Data columns (total 3 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   Date       1333575 non-null  datetime64[ns]
 1   adj_close  1333575 non-null  float64
 2   ticker     1333575 non-null  object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 30.5+ MB

In [202]:
price_df.isnull().value_counts()

Date   adj_close  ticker
False  False      False     1333575
Name: count, dtype: int64

Checking for tickers with short history!

In [227]:
obsv_per_ticker = (

    price_df.groupby("ticker").size().sort_values()
    
)
obsv_per_ticker.head()

ticker
Q        34
SOLS     39
SNDK    210
GEV     431
SOLV    432
dtype: int64

Date coverage analysis

In [234]:
date_coverage = (
    price_df
    .groupby("ticker")["Date"]
    .agg(start_date="min", end_date="max", observations="count")
    .sort_values("start_date")
)

date_coverage.head()

       start_date   end_date  observations
ticker
A      2015-01-02 2025-12-11          2753
NRG    2015-01-02 2025-12-12          2754
NOW    2015-01-02 2025-12-12          2754
NOC    2015-01-02 2025-12-12          2754
NKE    2015-01-02 2025-12-12          2754

Adding daily returns

In [237]:
price_df.head()

        Date  adj_close ticker
0 2015-01-02  37.120949      A
1 2015-01-05  36.425392      A
2 2015-01-06  35.857967      A
3 2015-01-07  36.333862      A
4 2015-01-08  37.422970      A

In [239]:
price_df["daily_return"] = (
    price_df
    .groupby("ticker")["adj_close"]
    .pct_change()
)

In [241]:
price_df.head()

        Date  adj_close ticker  daily_return
0 2015-01-02  37.120949      A           NaN
1 2015-01-05  36.425392      A     -0.018738
2 2015-01-06  35.857967      A     -0.015578
3 2015-01-07  36.333862      A      0.013272
4 2015-01-08  37.422970      A      0.029975

In [243]:
price_df["daily_return"].describe(
    percentiles = [0.01, 0.05, 0.95, 0.99]
)

count    1.333073e+06
mean     6.585562e-04
std      2.073008e-02
min     -5.386473e-01
1%      -5.633841e-02
5%      -2.900372e-02
50%      7.779037e-04
95%      2.931318e-02
99%      5.755348e-02
max      7.459322e-01
Name: daily_return, dtype: float64

Volatility analysis by ticker

In [246]:
volatility_by_ticker = (
    price_df
    .groupby("ticker")["daily_return"]
    .std()
    .sort_values(ascending=False)
)

volatility_by_ticker.head()

ticker
SNDK    0.061748
COIN    0.054398
APP     0.048565
HOOD    0.046808
MRNA    0.045344
Name: daily_return, dtype: float64

Missing Data Behaviour

In [249]:
missing_returns = (
    price_df
    .groupby("ticker")["daily_return"]
    .apply(lambda x: x.isna().mean())
    .sort_values(ascending=False)
)

missing_returns.head()

ticker
Q       0.029412
SOLS    0.025641
SNDK    0.004762
GEV     0.002320
SOLV    0.002315
Name: daily_return, dtype: float64

Time Aggregation Check

In [252]:
monthly_prices = (
    price_df
    .set_index("Date")
    .groupby("ticker")["adj_close"]
    .resample("M")
    .last()
    .reset_index()
)

monthly_prices["monthly_return"] = (
    monthly_prices
    .groupby("ticker")["adj_close"]
    .pct_change()
)

/var/folders/kn/k8w5yjls0kxdc3_svrv6wy600000gn/T/ipykernel_64411/3739541240.py:5: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  .resample("M")

In [272]:
monthly_prices.head()

  ticker       Date  adj_close  monthly_return
0      A 2015-01-31  34.567509             NaN
1      A 2015-02-28  38.631039        0.117553
2      A 2015-03-31  38.120667       -0.013211
3      A 2015-04-30  37.955524       -0.004332
4      A 2015-05-31  37.790375       -0.004351

### Equal Weight Portfolio

In [262]:
eligible_tickers = (
    price_df
    .groupby("ticker")
    .size()
    .loc[lambda x: x >= MIN_HISTORY_DAYS]
    .index
)

price_df_filtered = price_df[price_df["ticker"].isin(eligible_tickers)]

In [264]:
price_df_filtered.head()

        Date  adj_close ticker  daily_return
0 2015-01-02  37.120949      A           NaN
1 2015-01-05  36.425392      A     -0.018738
2 2015-01-06  35.857967      A     -0.015578
3 2015-01-07  36.333862      A      0.013272
4 2015-01-08  37.422970      A      0.029975

In [312]:
portfolio_returns = (
    price_df_filtered
    .dropna(subset = ["daily_return"])
    .groupby("Date")["daily_return"]
    .mean()
    .rename("portfolio_return")
    .reset_index()
)

In [314]:
portfolio_returns["cumulative_return"] = (
    1 + portfolio_returns["portfolio_return"]
).cumprod()

In [316]:
portfolio_returns.head()

        Date  portfolio_return  cumulative_return
0 2015-01-05         -0.016382           0.983618
1 2015-01-06         -0.009250           0.974520
2 2015-01-07          0.012633           0.986831
3 2015-01-08          0.018306           1.004895
4 2015-01-09         -0.007566           0.997293

In [337]:
def rolling_cumulative_return(returns, window):
    return (1 + returns).rolling(window).apply(
        lambda x: x.prod() - 1, raw=False
    )

In [341]:
price_df["mom_1m"] = price_df.groupby("ticker")["daily_return"].transform(
    lambda x: rolling_cumulative_return(x, 21)
)

price_df["mom_3m"] = price_df.groupby("ticker")["daily_return"].transform(
    lambda x: rolling_cumulative_return(x, 63)
)

price_df["mom_6m"] = price_df.groupby("ticker")["daily_return"].transform(
    lambda x: rolling_cumulative_return(x, 126)
)

price_df["mom_3m"] = price_df.groupby("ticker")["daily_return"].transform(
    lambda x: rolling_cumulative_return(x, 252)
)

In [ ]:
for col in ["mom_1m", "mom_3m", "mom_6m", "mom_12m"]:
    price_df[f"{col}_pct"] = (
        price_df
        .groupby("Date")[col]
        .rank(pct=True)
    )

In [343]:
price_df.head()

        Date  adj_close ticker  daily_return  mom_1m  mom_3m  mom_6m
0 2015-01-02  37.120949      A           NaN     NaN     NaN     NaN
1 2015-01-05  36.425392      A     -0.018738     NaN     NaN     NaN
2 2015-01-06  35.857967      A     -0.015578     NaN     NaN     NaN
3 2015-01-07  36.333862      A      0.013272     NaN     NaN     NaN
4 2015-01-08  37.422970      A      0.029975     NaN     NaN     NaN

In [345]:
price_df.tail()

              Date   adj_close ticker  daily_return    mom_1m    mom_3m    mom_6m
1333570 2025-12-08  118.160004    ZTS     -0.004130 -0.011710 -0.317076 -0.277274
1333571 2025-12-09  115.750000    ZTS     -0.020396 -0.037342 -0.328900 -0.302565
1333572 2025-12-10  118.070000    ZTS      0.020043 -0.014358 -0.322005 -0.285293
1333573 2025-12-11  117.660004    ZTS     -0.003472 -0.020480 -0.330768 -0.298279
1333574 2025-12-12  118.660004    ZTS      0.008499 -0.021361 -0.319581 -0.272979